# <mark> Anonymous/Lambda functions </mark>

lambda arguments : expression
    
    A lambda function is a SMALL, ANONYMOUS function.
    A function without name, one liner function.
    A lambda function can take ANY NUMBER OF ARGUEMENTS, but can have ONLY ONE EXPRESSION.
    Use lambda functions when an anonymous function is required for a short period of time.
    In Python, an anonymous function is a function that is defined without a name.
    While normal functions are defined using 'def' keyword, anonymous functions use 'lambda' keyword.
    Hence, anonymous functions are also called lambda functions.
    
    x = lambda a, b : a * b
    print(x(5, 6))
    # here type(x) is function that needs to be called later like x(5,6).

### Use of lambda function in python
    -as small one line function
    -as key in Sorting
    -Filter
    -Map
    -Reduce

## <mark> lambda as small function </mark>

In [2]:
a=int(input("Number1: "))
b=int(input("Number2: "))
c=int(input("Number3: "))

x=lambda a, b, c=300 : a+b+c

print(type(x))
print(a, b, c)
print(x(a, b, c=200))

# print(x(b,c,a=150))  #--> This gives error <lambda>() got multiple values for argument 'a'

Number1:  4
Number2:  9
Number3:  10

<class 'function'>
4 9 10
213

In [5]:
# to strip full name

full_name = lambda first, last : first.strip().title() + " " + last.strip().title()
full_name("  coder","mania   ")

'Coder Mania'

In [6]:
# check even number

even= lambda n: "Even" if n%2==0 else "Odd"
even(20000)

'Even'

In [11]:
def quad(a, b, c):
    return lambda x: a*x**2 + b*x + c

f=quad(1, 10, 3)

print(f(4))

59

In [10]:
def quad(a, b, c):
    m = lambda x: a*x**2+b*x+c
    return m

f=quad(1, 10, 5)(4)
print(f)

61

## <mark> lambda in sorting as key in .sort() and sorted() </mark>

In [4]:
a="ViraT kohli"
a.split(" ")[0].lower()

'virat'

In [1]:
name=["Virat kohliiiiii","Yuvrajjjjjjjj singh","KL rahul","Zaheer khan"]

name.sort(key=lambda x:len(x.split(" ")[0]))
name
#If a key function is given, apply it once to each list item and sort them,
#ascending or descending, according to their function values.

['KL rahul', 'Virat kohliiiiii', 'Zaheer khan', 'Yuvrajjjjjjjj singh']

In [87]:
name=["Viratk kohliiiiii","Yuvrajjjjjjjj singh","KL rahul","Zaheer khan"]

name.sort(key=lambda x:len(x.split(" ")[1].title()))
name

['Zaheer khan', 'Yuvrajjjjjjjj singh', 'KL rahul', 'Viratk kohliiiiii']

In [5]:
cricket_scores=[("abd",99),( "rahul",100), ("zaheer",55),("dk",23)]

print(cricket_scores)

cricket_scores.sort(key=lambda x:len(x[0]))

print(cricket_scores)

cricket_scores.sort(key=lambda x:x[1])

print(cricket_scores)

[('abd', 99), ('rahul', 100), ('zaheer', 55), ('dk', 23)]
[('dk', 23), ('abd', 99), ('rahul', 100), ('zaheer', 55)]
[('dk', 23), ('zaheer', 55), ('abd', 99), ('rahul', 100)]

In [16]:
marks=[{"name":"kamal", "marks":18},{"name":"prashant", "marks":18},{"name":"Amruta", "marks":21},{"name":"Amruta", "marks":20}]

marks.sort(key= lambda x:x["name"])
marks

[{'name': 'Amruta', 'marks': 21},
 {'name': 'Amruta', 'marks': 20},
 {'name': 'kamal', 'marks': 18},
 {'name': 'prashant', 'marks': 18}]

In [17]:
marks.sort(key= lambda x:(x["name"],x["marks"]))
marks

[{'name': 'Amruta', 'marks': 20},
 {'name': 'Amruta', 'marks': 21},
 {'name': 'kamal', 'marks': 18},
 {'name': 'prashant', 'marks': 18}]

## <mark> filter(function,iterable) </mark>

    filter(function or None, iterable) --> filter object
    
    -This is used when we want to filter some elements of list using some condition. 

    -The returned list will give elements which are true for that condition.

    -this needs to be packed using type casting

In [30]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [16]:
my_list=[1,2,3,4,5,6,7,8,9,10]

tuple(filter(lambda x: x%2!=0, my_list))

(1, 3, 5, 7, 9)

In [29]:
data=[10,20,30,40,20,30,50]
avg=sum(data)/len(data)
print(avg)

tuple(filter(lambda x: x<avg, data))

28.571428571428573

(10, 20, 20)

In [28]:
#  Removing missing data using filter
#  " ",0,0.0,0j,{},[],(),False,None

main_data=[" ",0,0.0,5,6,9,0j,{},[],(),False,None,(1,2,4),"ak"]

print(list(filter(None, main_data)))
print(list(filter(lambda x: x not in (0, [], None), main_data)))
print(list(filter(lambda x: x not in (0, [], None, False), main_data)))

[' ', 5, 6, 9, (1, 2, 4), 'ak']
[' ', 5, 6, 9, {}, (), (1, 2, 4), 'ak']
[' ', 5, 6, 9, {}, (), (1, 2, 4), 'ak']

## <mark> map(function,iterable) </mark>
-map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

-Returns a list of the results after applying the given function  
to each item of a given iterable (list, tuple etc.)

In [31]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [33]:
my_list = (1,2,3,4,5)

list(map(lambda x: x**2, my_list))

[1, 4, 9, 16, 25]

In [34]:
def even_odd(n):
    if n%2==0:
        return "even"
    else:
        return "odd"
    
print(even_odd(10))

b=[1, 4, 9, 16, 25]

list(map(even_odd,b))

even

['odd', 'even', 'odd', 'even', 'odd']

In [35]:
b=[1, 4, 9, 16, 25]

list(map(lambda x: x%2==0 , b))

[False, True, False, True, False]

In [2]:
temp=[("delhi", 30),("mumbai", 35),("chennai", 37)]

c_to_f = lambda x: {x[0], (x[1]*9/5+32)}

list(map(c_to_f, temp))

[{86.0, 'delhi'}, {95.0, 'mumbai'}, {98.6, 'chennai'}]

In [3]:
# to make keys as value and vis a vis
d = {'a':'A', 'b':'B', 'c':'C'}

x = dict.fromkeys(d.values(), d.keys())
x

{'A': dict_keys(['a', 'b', 'c']),
 'B': dict_keys(['a', 'b', 'c']),
 'C': dict_keys(['a', 'b', 'c'])}

## <mark> Reduce </mark>

In [40]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [41]:
from functools import reduce

data=[1, 2, 3, 4, 5]

reduce(lambda x,y:x*y, data)

120

#### factorial programme

In [49]:
# finding factorial using lambda, reduce

from functools import reduce
n=int(input("Enter number: "))
numbers=list(range(1, n+1))

fact = reduce(lambda x, y: x*y, numbers)
print("factorial is: ", fact)

Enter number:  5

factorial is:  120

In [50]:
# finding factorial using for loop

n=int(input("Enter number: "))
facto = 1
for i in range(1, n+1):
    facto *= i
print(facto)

Enter number:  5

120

In [48]:
# finding factorial using while loop

n=int(input("Enter number: "))
factorial = 1
i = 1
while i<=n:
    factorial = factorial * i
    i += 1
print(factorial)

Enter number:  5

120

In [4]:
# finding factorial using recursion

def recur_factorial(n):
    if n == 1:
        return n
    else:
        return n*recur_factorial(n-1)