# STRINGS

    STRINGS are immutable sequence of characters usually enclosed in single/dpuble/triple quotes
    Strings are IMMUTABLE (can not be changed or deleted)

    # my_string="data science"
    # my_string[0]="m"
    # Error: 'str' object does not support item assignment

### f string and r string
-F-strings provide ***A WAY TO EMBED EXPRESSIONS INSIDE STRING LITERALS***, using a minimal syntax. It should be noted that an f-string is really an expression evaluated at run time, not a constant value. In Python source code, an f-string is a literal string, prefixed with f , which contains expressions inside braces.

-***Literals are the constant values assigned to the constant variables.*** We can say that the literals represent the fixed values that cannot be modified. It also contains memory but does not have references as variables. For example, const int =10; is a constant integer expression in which 10 is an integer literal.

In [19]:
# f string
n = 6
for i in range(1,6):
    print(f"{n}x{i}={n*i}")

6x1=6
6x2=12
6x3=18
6x4=24
6x5=30

### <mark> ESCAPE SEQUENCING in strings
-An escape sequence is a sequence of characters that ***does not represent itself*** when used inside a character or string literal.

    \ 
    \n
    \t
    r

In [20]:
print("Captain of \"India\" is VIrat")

Captain of "India" is VIrat

In [21]:
print('''Captain of "India" is VIrat''')

Captain of "India" is VIrat

In [22]:
print("Captain of \'India\' is \nVIrat")

Captain of 'India' is
VIrat

In [23]:
#printing of raw(as it is) string

print(r"Captain of \"India\" is \nVIrat")

Captain of \"India\" is \nVIrat

In [24]:
print('Captain of "India" is VIrat')

Captain of "India" is VIrat

In [25]:
print('''Captain of "India" is 'VIrat'.''')

Captain of "India" is 'VIrat'.

## <font color='blue'> Indexing and Counting

####  <mark> count
Return the number of occurrences of substring sub in


count("__",start,stop)

It also counts the blank spaces

In [27]:
sample2="pyttttthon ddddeeevlllooopppmmeeennnntt"

sample2.count("t")

7

In [28]:
sample2.count("t", 0, 10) #counting t upto ten indexes

5

In [29]:
sample2="pyttttthon ddddeeevlllooopppmmeeennnntt"

sample2.count("ddd")

1

In [30]:
sample2="pyttttthon ddddeeevlllooopppmmeeennnntt"

sample2.count("xyz")
#Returns 0 if not found (not error)

0

#### <mark> find("__", start, end) and rfind()

It returns the index of the first occurrence of the substring if found 

else it returns -1

It also counts the black spaces

#### <mark> index() and rindex()
same as find() BUT if substring is not found it returns error

In [31]:
sample2="pyttttthon ddddeeevlllooopppmmeeennnntt"
sample2.find("d")

11

In [32]:
sample2.find("d",12,20)

12

In [33]:
sample2.rfind("d")

14

In [34]:
sample2.find("u")
# returns -1 if character is absent

-1

## <font color='blue'> is your string...?

#### <mark> isalnum() & isalpha() & isnum()

In [35]:
pancard="D5T5GGH65"
pancard2="KL@@@562"
adhar="15655456"
adhar2="568  9456"
name="Coder"
blank=""
only_space=" "

print("1:",pancard.isalnum())# isalnum checks alphabet OR numerical
print("2:",pancard2.isalnum())#returns false due to special symbol @@@
print("3:",adhar.isalnum())
print("4:",pancard.isnumeric())
print("5:",name.isalnum())
print("6:",adhar.isalpha())
print("7:",adhar.isnumeric())
print("8:",adhar2.isnumeric())#returns false due to blank spcaes
print("9:",blank.isalnum())
print("10:",only_space.isalnum())

# Specail characters are not allowed thereby it returns False if there is presence of any special character
# Even blank spaces are taken as specail characters
# 56592.154 float number is not returned as numeric thus giving False as result

1: True
2: False
3: True
4: False
5: True
6: False
7: True
8: False
9: False
10: False

In [75]:
print("56".isdecimal())
print("87".isdigit())
print("252".isnumeric())

True
True
True

####  <mark> startswith() & endswith()
This method returns True/False if the substring satrts/ends with that prefix/suffix

In [37]:
#endswith(value,start,end)

website="www.facebook.com"
website.endswith(".com")

True

In [38]:
print(website.endswith("ok",0,12))

True

In [39]:
website.startswith("oo",9,len(website))

True

#### <mark>  isspace()
Return True if the string is a whitespace string, False otherwise.

In [43]:
telescope3="     a   kk  l"
telescope3.isspace()

False

In [44]:
telescope3=" "
telescope3.isspace()

True

In [45]:
telescope3=""
telescope3.isspace()

False

In [46]:
telescope3="\n"
telescope3.isspace()

True

## <font color='blue'> breaking and joining string

#### <mark>  split()

it converts a string into the list


it breaks up the string at specific separator and returns a list of string


By default separator is space. {-1 (the default value) means no limit.}

    .split() --> Takes space as separator

    .split(" ") --> Takes space as separator
    
    .split("") --> Error
    
Return a list of the words in the string, using sep as the delimiter string.

The element inside () gets eliminated from list

Maxsplit:
    
    Maximum number of splits to do.

    -1 (the default value) means no limit.

In [48]:
text="Coder gamer   @   from paris "

print(text)
text.split()

Coder gamer   @   from paris

['Coder', 'gamer', '@', 'from', 'paris']

In [50]:
my_grocery="CoderGamer.Coin wins"

print(my_grocery.split())
print(my_grocery.split("."))
print(my_grocery.split("g"))
print(my_grocery.split("G"))

['CoderGamer.Coin', 'wins']
['CoderGamer', 'Coin wins']
['CoderGamer.Coin wins']
['Coder', 'amer.Coin wins']

#### <mark>  splitlines()
-Return a list of the lines in the string, breaking at line boundaries.

-.splitlines(keepends=False/True)
    
    False is default

-Line breaks are not included in the resulting list unless keepends is given and
true.

In [51]:
optionals="history,\ngeography\npolity,\ngeo\nhis"
print(optionals)

optionals.splitlines()

history,
geography
polity,
geo
his

['history,', 'geography', 'polity,', 'geo', 'his']

In [52]:
optionals.splitlines(keepends=True)

['history,\n', 'geography\n', 'polity,\n', 'geo\n', 'his']

In [53]:
optionals.splitlines(keepends=False)

['history,', 'geography', 'polity,', 'geo', 'his']

#### <mark> partition()

    -converts string into tupple.

    -takes exactly one arguement

    -same as split() BUT 

        returns tupple instead of list in split()

        keeps the separator element unlike split()

    -@the separator arguement is always kept in middle in tupple

In [64]:
example=("Python is easy to learn")

print(example.partition("is"))
print(example.partition(" "))
print(example.partition("Py"))
print(example.partition("learn"))
print(example.partition("Python is easy to learn"))

('Python ', 'is', ' easy to learn')
('Python', ' ', 'is easy to learn')
('', 'Py', 'thon is easy to learn')
('Python is easy to ', 'learn', '')
('', 'Python is easy to learn', '')

####  <mark> join()

    - opposite of split()

    -it joins iterables into a string

    -Concatenate any number of strings.

In [65]:
'...'.join(['ab', 'pq', 'rs'])

'ab...pq...rs'

In [68]:
words=["coding", "is", "best"]
"-----".join(words)

'coding-----is-----best'

## <font color='blue'> Altering the string

#### <mark>  replace()
to replace a string by another

original string will be returned if substring is not found

In [69]:
indian_players="Virat is captain of India"

indian_players.replace("Virat","Dhoni")

'Dhoni is captain of India'

In [73]:
ipl_winner="KKR MI MI MI RCB RCB CSK HYD RAJ RCB KKR MI CSK"

#Replace ALL
ipl1=ipl_winner.replace("MI", "Pune")
print(ipl1)

#Replace first two
ipl2=ipl_winner.replace("MI", "Pune", 2)
print(ipl2)

KKR Pune Pune Pune RCB RCB CSK HYD RAJ RCB KKR Pune CSK
KKR Pune Pune MI RCB RCB CSK HYD RAJ RCB KKR MI CSK

#### <mark> lstripe() and rstrip()
-Return a copy of the string with LEADING whitespace removed.

-If chars is given and not None, remove characters in chars instead.

In [54]:
random="        this    is  a lie"

#random_new=random.lstrip() ->Initial spaces by default 

random_new=random.lstrip("hi s t") 

#alphabets can be put just once
#alphabets not necessary to be in order
print(random_new)
print(len(random_new))

a lie
5

In [55]:
websites="https://www.facebook.   coooommmm   "
print(websites)
website_new=websites.rstrip(".com ")
print(website_new)

https://www.facebook.   coooommmm
https://www.facebook

## <font color='blue'> String Case </font>

#### <mark> capitalize() </mark> 
Capitalizes ONLY the FIRST character of the WHOLE string and ALL others in small

In [26]:
sample="coder 65gamer"
print(sample.capitalize())

Coder 65gamer

#### <mark> lower() upper()
-These are bulletin functions/methods that return a COPY of the string converted to lower/uppercase

In [40]:
mobile="SAm  suNG"
car="su.-2.zuki23568@#"

print(mobile.lower())
print(car.upper())

print("Notice NO change in variable mobile and car:\n",mobile,"\n",car)

# however this does not make any change in original variable
# special characters and symbols are not affected

sam  sung
SU.-2.ZUKI23568@#
Notice NO change in variable mobile and car:
 SAm  suNG
 su.-2.zuki23568@#

#### <mark> islower() isupper()

    -returns true if ALL alphabets are in lower/upper case

    -it does not takes into account special characters or numbers or blank spaces

In [41]:
car="su.-2.zuki23  568@#"
car.islower()

True

In [42]:
mobile="SAm  suNG"
mobile.isupper()
#isupper() returns true if ALL alphabets are in upper case

False

#### <mark> isprintable()
returns True if the string is printable

Printable characters :
Letter and symbols,
Digits,
Whitespaces,
Punctuation.

Non Printable : \n \t

In [1]:
my_address3="Satara\t-411019"
my_address3.isprintable()

False

In [2]:
my_address="Pune-411     019 . , [], @"
my_address.isprintable()

True

#### <mark>  swapcase()

In [74]:
string="THiS iS a GreAT Day"
print(string.swapcase())

thIs Is A gREat dAY

#### <mark>  istitle()

it checks pascal casing

In [77]:
#Pascal Casing means first letter of every wod is in capital case

food="Burger Is @@Good"
food.istitle()

True

## <font color='blue'> zfill(), ljust() and center() </font>

####  <mark> zfill()

In [76]:
texting="watsapp"

print(texting.zfill(10))

texting.center(8,"*")

000watsapp

'watsapp*'

####  <mark> ljust()
sample.ljust(width, fillchar=' ', /)

Return a left-justified string of length width

In [78]:
sample="python"
print(sample)
sample=sample.ljust(10,"+")
print(sample)

python
python++++

#### <mark> center()
Return a centered string of length width.

In [36]:
player="Coder"
print(player.center(0,"$"))
print(player.center(5,"$"))#total length of coder isself is 5 so it does not add $ at end
print(player.center(6,"$"))#adds $ at end so that total lenth becomes 6: coder(5)+1
print(player.center(7,"$"))
print(player.center(8,"$"))
print(player.center(9,"$"))

Coder
Coder
Coder$
$Coder$
$Coder$$
$$Coder$$