## <mark> Datastructures in Pandas 3: Series, DF, Panel

The Series is a **One Dimensional array which is Labelled** and it is **capable of holding array of any type like: Integer, Float, String and Python Objects.**

A Data Frame is a Two Dimensional data structure. In this kind of data structure the data is arranged in a tabular form (Rows and Columns).

A pandas Panel is a 3 Dimensional Container of Data. A **Panel(a Series of DataFrames)** will generally be more memory/computationally efficient.
    
    pd.Panel(data, item, major_axis, minor_axis, dtype, copy)
    Using 3D ndarray/Dictionary to create a Panel

## <mark> Pandas Series

Pandas Series is a **one-dimensional labeled array capable of holding data of any type** (integer, string, float, python objects, etc.). The **axis labels are collectively called index**. Pandas Series is nothing but a column in an excel sheet.
Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of methods for performing operations involving the index.

**creating a series**

    empty
    list
    tuple
    dictionary
    array
    x set x
    
**series methods**

    a.index(Return all index values)
    a.array(Return an array of values)
    a.values(Return values of series)
    a.name(Return name of series)
    a.shape(Return shape of series)
    a.ndim(Return dim of series)
    a.size(Return size of series)
    a.shape(Return memory ocupied by values)
    a.memory_usage(Return memory ocupied by values and indexs)
    a.empty(Returns True if series is empty)
    
**mathematical operations**

    add
    substract
    multiply
    divide
    mod
    pow
    le
    gt
    eqauls

##### <mark> creating a series

    empty
    list
    tuple
    dictionary
    array
    x set x

In [11]:
import pandas as pd
a=pd.Series()  # empty series
print(a)

Series([], dtype: float64)

C:\Users\AdmiN\AppData\Local\Temp\ipykernel_16952\3826899825.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()  # empty series

In [6]:
a=pd.Series(["Virat","Dhoni","KL Rahul"],
            index=["a","b","c"],
            name="cricketername")
print(a)

print(type(a))
# using list

a       Virat
b       Dhoni
c    KL Rahul
Name: cricketername, dtype: object
<class 'pandas.core.series.Series'>

In [7]:
import numpy as np

a=np.array(["a","b","c"])
print("array is:",a)

s1=pd.Series(a)
print("series is:\n", s1)
# Using array

array is: ['a' 'b' 'c']
series is:
 0    a
1    b
2    c
dtype: object

In [8]:
d={"Name": "Rahul", "age": 20, "job": "data scientist"}
print(d)

s2=pd.Series(d)
s2
# From dictionary

{'Name': 'Rahul', 'age': 20, 'job': 'data scientist'}

Name             Rahul
age                 20
job     data scientist
dtype: object

In [9]:
s3=pd.Series((11, 12, 13, 14))
s3
# From tuple

0    11
1    12
2    13
3    14
dtype: int64

#s3=pd.Series({1,2,3,4})

#From set:NOT possible as 'set' type is unordered

### <mark> Attributes of Series

    - a.index(Return all index values)
     
    - a.array(Return an array of values)

    - a.values(Return values of series)
    
    - a.name(Return name of series)
    
    - a.shape(Return shape of series)
    
    - a.ndim(Return dim of series)
    
    - a.size(Return size of series)
    
    - a.shape(Return memory ocupied by values)
    
    - a.memory_usage(Return memory ocupied by values and indexs)
    
    - a.empty(Returns True if series is empty)

In [12]:
s3=pd.Series((11, 12, 13, 14))
s3

0    11
1    12
2    13
3    14
dtype: int64

In [13]:
s3.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
s3.array

<PandasArray>
[11, 12, 13, 14]
Length: 4, dtype: int64

In [15]:
s3.values

array([11, 12, 13, 14], dtype=int64)

In [16]:
a=pd.Series(["Virat","dhoni","KL Rahul"],
            index=["a","b","c"],
            name="cricketername")
a.name

'cricketername'

In [17]:
a.size

3

In [18]:
type(a.size)

int

In [19]:
a.shape

(3,)

In [21]:
a.nbytes

24

In [22]:
a.memory_usage()

48

In [23]:
a.empty

False

In [24]:
a=pd.Series([(1,0),(2,0),(5,4)])
a

0    (1, 0)
1    (2, 0)
2    (5, 4)
dtype: object

### <mark> Mathematical operations in Series

    add
    substract
    multiply
    divide
    mod
    pow
    le
    gt
    eqauls

In [25]:
import pandas as pd
sa=pd.Series([[100,50,30],[50,30,20]])
s2=pd.Series([50,30,20])
s1=pd.Series([100,50,30])

In [26]:
s1.add(s2)
#s1+s2

0    150
1     80
2     50
dtype: int64

In [27]:
s1.subtract(s2)
#s1-s2

0    50
1    20
2    10
dtype: int64

In [28]:
s1.multiply(s2)
#s1*s2

0    5000
1    1500
2     600
dtype: int64

In [29]:
s1.divide(s2)
#s1/s2

0    2.000000
1    1.666667
2    1.500000
dtype: float64

In [30]:
s1.mod(s2)
#s1%s2

0     0
1    20
2    10
dtype: int64

In [31]:
s1.pow(s2)
#s1**s2

0                      0
1    5878960461428293632
2   -4356359181443268608
dtype: int64

In [32]:
s1.le(s2)
#s1<s2

0    False
1    False
2    False
dtype: bool

In [33]:
s1.gt(s2)
#s1>s2

0    True
1    True
2    True
dtype: bool

In [34]:
s1.equals(s2)
#s1==s2

False

In [35]:
s1.argmax()
#Return int position of the largest value in the Series.

0

In [36]:
s1.argmin()
#Return int position of the smallest value in the Series.

2